* text=auto -text
*.java text
*.properties text
*.css text
*.html text
*.xhtml text
*.yml text
*.sh text
*.txt text eol=crlf
*.bat text eol=crlf
*.js text eol=lf
*.png binary
*.module -text
*.pom -text
*.xml -text
