* text=auto
*.java text
*.properties text
*.css text
*.html text
*.xhtml text
*.dtd text
*.ent text
*.sh text
*.txt text eol=crlf
*.xml text eol=lf
*.js text eol=lf
*.png binary
*.module binary
*.pom binary
